<div style="margin-left: 44%">
    <form [formGroup]="signinForm">
        <mat-grid-list cols="1" gutterSize="10px" rowHeight="100px">
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>User Email</mat-label>
                    <input matInput name="email" type="email" formControlName="email">
                    <mat-hint>Fill your registered email id</mat-hint>
                    <ng-container *ngIf="signinForm.get('email').hasError('required')" ngProjectAs="mat-error">
                        <mat-error>User Email is required </mat-error>
                    </ng-container>
                    <ng-container *ngIf="signinForm.get('email').hasError('pattern')" ngProjectAs="mat-error">
                        <mat-error>User Email is invalid </mat-error>
                    </ng-container>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput name="password" type="password" formControlName="password">
                    <ng-container *ngIf="signinForm.get('password').hasError('required')" ngProjectAs="mat-error">
                        <mat-error>Password is required </mat-error>
                    </ng-container>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <button mat-raised-button (click)="login()" [disabled]="isButtonDisabled">
            Login
        </button>
    </form>
</div>