<mat-tab-group dynamicHeight>
    <mat-tab label="Hey">
        <div class="holder mat-elevation-z4">
            <div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>
        
            <div class="example-table-container">
        
                <table mat-table [dataSource]="airportDatasource" class="airport-table" matSort matSortActive="created" matSortDisableClear
                    matSortDirection="desc">
                    <!-- Number Column -->
                    <ng-container matColumnDef="number">
                        <th mat-header-cell *matHeaderCellDef>#</th>
                        <td mat-cell *matCellDef="let row">{{row.number}}</td>
                    </ng-container>
        
                    <!-- Title Column -->
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef>Title</th>
                        <td mat-cell *matCellDef="let row">{{row.title}}</td>
                    </ng-container>
        
                    <!-- State Column -->
                    <ng-container matColumnDef="state">
                        <th mat-header-cell *matHeaderCellDef>State</th>
                        <td mat-cell *matCellDef="let row">{{row.state}}</td>
                    </ng-container>
        
                    <!-- Created Column -->
                    <ng-container matColumnDef="created">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                            Created
                        </th>
                        <td mat-cell *matCellDef="let row">{{row.created_at | date}}</td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        
            <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
        </div>
    </mat-tab>
    <mat-tab label="Long tab">
        <div class="example-large-box mat-elevation-z4">
            Large content
        </div>
    </mat-tab>
</mat-tab-group>
